form{
    width:500px;
    padding:20px;
    border-radius:60px;
    margin:auto;
    background-color:#ccc;}
  p.box1 {
width:150px;
margin:10px 50px;
padding:20px;
font-size:italic;
background-color:#cfc;
color:#000;
}
input, textarea, select, button {
  width : 150px;
  margin: 5px;
}